/* Fonte Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #050505;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  gap: 48px;
}

#canvas {
  border-radius: 8px;
}

/* Logo com animação */
.container .logo {
  position: absolute;
  width: 50%;
  top: -100%;
  left: 25%;
  opacity: 0%;
  animation: slideDown 1.5s linear forwards;
}

.container .logo img {
  height: auto;
  width: 100%;
}

/* Animação de deslizamento */
@keyframes slideDown {
  to {
    opacity: 100%;
    top: 25%;
  }
}

/* Estilos dos botões */
.container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

button {
  border-style: none;
  outline: none;
  height: 64px;
  width: 124px;
  border-radius: 16px;
  font-size: 48px;
  background: rgba(223, 79, 7, 0.5);
  font-weight: 800;
}

button:hover {
  transform: scale(0.95);
}

button:active {
  transform: scale(0.9);
}

.created-by {
  position: absolute;
  bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 0.95rem;
}

.created-by img {
  filter: invert(1);
}
